@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(203, 232, 250);
}

button {
    border: 1px solid rgb(95, 193, 253);
    border-radius: 5px;
    background-color: rgb(227, 248, 255);
    color: rgb(95, 193, 253);
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

button:hover {
    border: 1px solid rgb(23, 165, 253);
    color: rgb(23, 165, 253);
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

:checked+label {
    text-decoration: line-through;
    color: grey;
}
